* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  background-color: #f1faee;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #e0eafc, #cfdef3);
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  text-align: center;
  color: #1d3557;
}

.player-choice {
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 250px;
  border-radius: 30px;
  text-align: center;
}

.player-box {
  border: 2px solid #1d3557;
  background-color: #f1faee;
  padding: 1rem;
  border-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.7rem;
  cursor: pointer;

  /* Animation */
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.player-box:hover {
  transform: scale(1.03);
}

.player-box button {
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  width: 80%;
  text-align: center;
  display: block;
  background-color: #1d3557;
  color: #f8f7f6;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  margin: 20px auto auto auto;
}

.player-choice h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #1d3557;
}

.player-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.player-choice img {
  height: 75px;
  width: 75px;
}

/****** Popup ********/
.popup-background {
  background-color: rgba(168, 218, 220, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
}

.popup {
  position: absolute;
  left: 50%;
  top: 32%;
  margin-left: -132px;
  opacity: unset;
}

form {
  max-width: 300px;
  min-width: 250px;
  padding: 10px 30px 15px 30px;
  border: 2px solid #1d3557;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
}

form input[type='text'] {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #111;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
}

form input[type='text']:focus {
  border-color: #5551ff;
}

.highlight {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.45);
}

form .btn {
  display: block;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  text-decoration: none;
  width: 100%;
  text-align: center;
  background-color: #0066ff;
  color: #f8f7f6;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
}

form .btn:hover {
  background-color: #0b4bab;
}

/********** Alert ************/
.alert {
  color: #cc5630;
  margin: 0 auto 0 auto;
  max-width: 800px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  display: none;
}

.alert > h2 {
  font-size: 2.2rem;
}

/******* Gameboard *******/
.gameboard {
  position: absolute;
  top: 23.5%;
  left: 50%;
  margin-left: -187px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: 'Permanent Marker', cursive;
  color: #1d3557;
}

.gameboard div {
  width: 125px;
  height: 125px;
  border: 2.1px solid #1d3557;
  text-align: center;
  line-height: 125px;
  font-size: 4rem;
}

.gameboard .tile-0 {
  border-top-style: none;
  border-left-style: none;
}

.gameboard .tile-1 {
  border-top-style: none;
}

.gameboard .tile-2 {
  border-top-style: none;
  border-right-style: none;
}

.gameboard .tile-3 {
  border-left-style: none;
}

.gameboard .tile-5 {
  border-right-style: none;
}

.gameboard .tile-6 {
  border-left-style: none;
  border-bottom-style: none;
}

.gameboard .tile-7 {
  border-bottom-style: none;
}

.gameboard .tile-8 {
  border-right-style: none;
  border-bottom-style: none;
}

/* Play Again button */
/* .replay button {
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  text-align: center;
  display: none;
  background-color: #1d3557;
  color: #f8f7f6;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  margin: 430px auto auto auto;
} */

.replay button {
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  text-align: center;
  display: none;
  background-color: #1d3557;
  color: #f8f7f6;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #101721;
  color: white;
  height: 40px;
  padding-top: 4px;
}

.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.follow > p {
  font-size: 1rem;
}

.follow img {
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 100%;
  padding: 2px;
}

@media only screen and (max-width: 768px) {
  .alert > h2 {
    font-size: 1.7rem;
  }

  .player-choice {
    left: 85%;
    top: 15%;
    flex-direction: column;
  }

  .player-ai {
    margin-top: 2rem;
  }

  .gameboard {
    left: 58%;
  }

  .gameboard div {
    width: 100px;
    height: 100px;
  }

  /* .replay button {
    margin: 380px auto auto auto;
  } */
}
